.App {
  text-align: center;
}

body{
  background: #e4e4e4; 
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.dark-content {
  background-color: #282c34;
}